body {
  background-color: #f9f8f6;
}

.btn-primary {
  background-color: #486784;
  border-color: #486784;
  border-radius: 12px;
}

.btn-primary:hover {
  background-color: #486784;
  border-color: #486784;
  border-radius: 12px;
}

.btn-outline-primary {
  color: #540D32;
  border-color: #540D32;
  background-color: #fff; 
  border-radius: 12px;
}

.btn-outline-primary:hover {
  background-color: #F75D59;
  color: #fff;
  border-color: #F75D59;
  border-radius: 12px;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:focus-visible {
  background-color: #486784 !important;
  border-color: #486784 !important;
  box-shadow: none !important;
}

.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:focus-visible {
  background-color: #486784 !important;
  border-color: #486784 !important;
  color: #fff !important;
  box-shadow: none !important;
}


@media (max-width: 600px) {
  .btn {
    font-size: 13px;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}