@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


html, body {
  height: auto;
  overflow-x: hidden;
}

html{
  background-color: #f9f8f6;

}


body {
  font-family: 'Lato', sans-serif !important;
  margin: 0;
  width: 100%;
}

/* fix firefox horz scroll bar */
/* @-moz-document url-prefix() {
  html, body {
    overflow-x: hidden !important;
    scrollbar-width: none; 

  }
} */