body {
  background-color: #f9f8f6;
}

.btn-primary {
  background-color: #540D32;
  border-color: #540D32;
  border-radius: 12px;
}

.btn-primary:hover {
  background-color: #4E0A2B;
  border-color: #4E0A2B;
  border-radius: 12px;
}

.btn-outline-primary {
  color: #540D32;
  border-color: #540D32;
  background-color: #fff; 
  border-radius: 12px;
}

.btn-outline-primary:hover {
  background-color: #F75D59;
  color: #fff;
  border-color: #F75D59;
  border-radius: 12px;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:focus-visible {
  background-color: #4E0A2B !important;
  border-color: #4E0A2B !important;
  box-shadow: none !important;
}

.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:focus-visible {
  background-color: #F75D59 !important;
  border-color: #F75D59 !important;
  color: #fff !important;
  box-shadow: none !important;
}